@model Services.ViewModels.ProfileDetailViewModel


@{
	Layout = "_Layout";
	var title = "Profile Details";
	ViewData["Title"] = title;
}

<style>
    .input-validation-error {
        border-color: red;
    }
</style>

<h2>@title</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form class="m-1 p-1" method="post">
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="RoleName"></label>
        <input asp-for="RoleName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="UserGender"></label>
        <input asp-for="UserGender" type="text" class="form-control" readonly />
        <span asp-validation-for="UserGender" class="text-danger" ></span>
    </div>
    <div class="form-group">
        <label asp-for="UserWeight"></label>
        <input asp-for="UserWeight" type="number" class="form-control" readonly />
        <span asp-validation-for="UserWeight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserHeight"></label>
        <input asp-for="UserHeight" type="text" class="form-control" readonly />
        <span asp-validation-for="UserHeight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserCalorieLimit"></label>
        <input asp-for="UserCalorieLimit" type="number" class="form-control" readonly />
        <span asp-validation-for="UserCalorieLimit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserGoals"></label>
        <input asp-for="UserGoals" type="number" class="form-control" readonly />
        <span asp-validation-for="UserGoals" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserSpeciality"></label>
        <input asp-for="UserSpeciality" type="number" class="form-control" readonly />
        <span asp-validation-for="UserSpeciality" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserCertification"></label>
        <input asp-for="UserCertification" type="number" class="form-control" readonly />
        <span asp-validation-for="UserCertification" class="text-danger"></span>
    </div>
    <button type="Update Details"  class="btn btn-primary">Update</button>
</form>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}