@model Services.ViewModels.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/css/LoginRegistration.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message
            </div>
        }

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Success"]
            </div>
        }

        @if (TempData["UnSuccessful"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["UnSuccessful"]
            </div>
        }

        <div class="cover">
            <div class="front">
                <img src="~/image/diet.jpg" alt="">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="~/image/diet.jpg" alt="">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <form asp-action="SignIn" method="post">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class='bx bxs-envelope'></i>
                                <input asp-for="Email"  placeholder="Enter your Email" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <i class='bx bxs-lock-alt'></i>
                                <input asp-for="Password"  placeholder="Enter your Password" required>
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                            <div class="text"><a asp-controller="UserManagment" asp-action="ForgotPassword">Forgot password?</a></div>
                            <div class="button input-box">
                                <input type="submit" value="Submit">
                            </div>
                            <div class="text sign-up-text">Don't have an account? <a asp-controller="UserManagment" asp-action="SignUp"> <label for="flip">Sigup now</label></a>
                                </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</body>
</html>








    
 
