a {
    text-decoration: none;
}

.grid {
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 24px;
    margin-top: 36px;
}

.grid-item {
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width {
    grid-column: span 4;
}

.height-100 {
    min-height: 100vh;
}

.widget {
    width: 100%;
}
