a {
    text-decoration: none;
}

.grid {
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr); /* Changed to 2 columns */
    padding-bottom: 24px;
    margin-top: 36px;
}

.grid-item {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: start; /* Align items at the center horizontally */
    justify-content: flex-start; /* Align items at the start vertically */
    /* Optionally, you can add styles like box-shadow and padding here */
}

.full-width {
    grid-column: span 2; /* Changed to span 2 columns */
}

.height-100 {
    min-height: 100vh;
}

.widget {
    width: 100%;
}
